#camera{
    height: 50px;
    width: 70px;
    background-color: black;
    clip-path: polygon(0% 100%, 0% 20%,25% 20%,35% 0%, 65% 0%,75% 20%, 100% 20%, 100% 100%);
    position: relative;
}
#camera::before{
    height: 25px;
    content: "";
    border: 4px solid white;
    position: absolute;
    aspect-ratio: 1/1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}